asgiref==3.6.0
black==23.3.0
cfgv==3.3.1
click==8.1.3
distlib==0.3.6
Django==4.2.1
django-cors-headers==4.0.0
djangorestframework==3.14.0
filelock==3.12.0
identify==2.5.24
mypy-extensions==1.0.0
nodeenv==1.8.0
packaging==23.1
pathspec==0.11.1
Pillow==9.5.0
platformdirs==3.5.1
pre-commit==3.3.1
pytz==2023.3
PyYAML==6.0
sqlparse==0.4.4
tomli==2.0.1
virtualenv==20.23.0
