@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
    --secondary: gray;

    --bg-primary: white;
    --bg-secondary: rgb(247, 247, 247);

    --rounded-small: 0.5rem;
    --rounded-xsmall: 0.25rem;

    --shadow: rgb(216, 216, 216);
}
